# Python
__pycache__/
*.pyc
*.pyo

# runtime artifacts
*.flag
*.log
*.pid
*.tmp
*.temp

# local version markers (written by the updater, differ per user)
.version
.version-gh

# editor / OS noise
Thumbs.db
desktop.ini
.DS_Store
.vscode/
.idea/
